<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> {% block title %} {% endblock%}
    {% block css %} 
    
    {% endblock%}
</head>

<body>

    <nav>

        <p class="login-user">hola {{request.user}}</p>
        <div>

            <a href='{% url "posts" %}'>Inicio</a>
            <a href='{% url "pictures" %}'>Archivos</a>
            <a class="logout" href="/logout">fuera</a>
        </div>


    </nav>


    {% block container %} {% endblock%}

</body>

</html>